.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(77, 111, 238, 0.08);
    padding: 0 60px 0 0;
    position: relative;
    z-index: 10;
}

.logo {
    width: 119.03px;
    height: 40px;
    margin-left: 53px;
    display: flex;
    align-items: center;
}

.menu ul {
    gap: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu a {
    color: #111;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.2s, background-color 0.2s;
    text-decoration: none;
    padding: 4px 0;
}

.menu a:hover {
    color: #4D6FEE;
}

.alarm_image {
    margin-right: 30px;
    width: 30px;
    height: 30px;
}

.profile_image {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    margin-right: 1px;
    object-fit: cover;
}

.right_section {
    display: flex;
    align-items: center;
}

.right_section a {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}

.profile_side_icon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
}