.header {
    height: 80px;
    display: flex;
    padding: 0 2rem;
    font-family: "Wanted Sans", sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.logo {
    width: 119.03px;
    height: 40px;
}

.menu ul {
    gap: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu a {
    color: #111111;
    font-size: 16px;
    font-weight: 400;
    transition: color, 0.2s ease, background-color, 0.2s ease;
    text-decoration: none;
}

.menu a:hover {
    color: #4D6FEE;
}

.alarm_image {
    margin-right: 30px;
}

.right_section {
    display: flex;
    align-items: center;
}

.right_section a {
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}