.footer {
    color: #ffffff;
    height: 90px;
    display: flex;
    font-size: 13px;
    font-family: 'Wanted Sans', sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    background-color: #373849;
  }